## Assignment 1

## ans 1

We us a for loop when the number of itearations are already known or for
a specific number of iterations . 

We use while loop when we need to execute until a certain condition is no longer met.

In [1]:
# exapmple
for i in range (4):
    print ("*")

*
*
*
*

In [2]:
n=10
sum=0
while n>0:
    sum=sum+n
    n=n-1
print("The sum is",sum)

The sum is 55

## Ans 2

In [3]:
# For loop

sum=0
p=1
for i in range (1,11):
    sum=sum+i
    p=p*i
    
print("Sum of the first 10 natural nos ",sum)

Sum of the first 10 natural nos  55

In [4]:
# while loop

sum=0
p=1
n=1
while n<=10:
    sum=sum+n
    p=p*n
    n+=1
    
print("the sum of nautural nos is ",sum)
print("the product of natural nos is ",p)

the sum of nautural nos is  55
the product of natural nos is  3628800

## ans 3

In [6]:
t_units=int(input("Enter the total units "))
bill_amt=0

if t_units<100:
    bill_amt=t_units*4.5
    
elif t_units<=200:
    bill_amt=100*4.5+(t_units-100)*6
    
elif t_units<=300:
    bill_amt=100*4.5 +100*6 +(t_units-200)*10
else:
    bill_amt=100*4.5 +100*6 +100*10+(t_units-300)*20
    
print("Electricity bill= RS", bill_amt)

Enter the total units 310
Electricity bill= RS 2250.0

## Ans 4

In [14]:
num_list=[]
for num in range (1,101):
    cube=num**3
    if cube %4==0 or cube % 5==0:
        num_list.append(num)
print (num_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [15]:
num_list=[]
num=1
while num<=100:
    cube=num**3
    if cube %4==0 or cube%5==0:
        num_list.append(num)
    num+=1
    
print(num_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

## Ans 5

In [19]:
sent="I want to become a data scientist"
count=0
vowels="aeiouAEIOU"
for char in sent:
    if char in vowels:
            count+=1
        
print("Number of vowels in the sentence is:",count)

Number of vowels in the sentence is: 12